In [5]:
a = [1,2,3]
b = [4,5,6]

In [6]:
a + b

[1, 2, 3, 4, 5, 6]

In [7]:
import numpy as np

In [8]:
a = np.array([1,2,3,'a'])

In [9]:
a

array(['1', '2', '3', 'a'], dtype='<U21')

In [32]:
li = [2 * i for i in range(1,11) if i % 3 == 0]

In [33]:
li

[6, 12, 18]

In [29]:
tables = [
    [i * j for j in range(1, 11)] 
    for i in range(1, 11)
]

In [30]:
tables

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [36]:
def fact(num):
    f = 1
    while num > 0:
        f = f * num
        num = num - 1
    return f

In [37]:
fact(5)

120

In [41]:
manoj = [1,2,3]
baby = manoj

In [42]:
baby[0] = 34

In [43]:
manoj

[34, 2, 3]

In [44]:
baby = [3,4,5]

In [45]:
manoj

[34, 2, 3]

In [46]:
baby[1] = 45

In [47]:
manoj

[34, 2, 3]

In [48]:
a = "kunal"
b = a

In [50]:
b = "batman"

In [53]:
# == and is
a = 14442
b = 14442
a == b

True

In [54]:
a is b

False

In [56]:
a = 10
a = "kunal"

In [57]:
a

'kunal'

In [58]:
a = "kunal"
b = 10

In [59]:
a + b

TypeError: can only concatenate str (not "int") to str